@charset "utf-8";
.container header {
    background-color: #96CAF7;
}
.container header nav {
    background-color: #508DBD;
}
.container #hero {
    background-image: url(images/logo.jpg);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(187,224,222,1.00) 0%,rgba(70,105,139,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(187,224,222,1.00) 0%,rgba(70,105,139,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(187,224,222,1.00) 0%,rgba(70,105,139,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(187,224,222,1.00) 0%,rgba(70,105,139,1.00) 100%);
}
